In [1]:
import numpy as np
import pandas as pd
import requests
import math
from scipy import stats

In [2]:
stocks = pd.read_csv('../sp_500_stocks.csv')

In [4]:
from secrets import IEX_CLOUD_API_TOKEN

In [16]:
def get_stock_stats(symbol):
    api = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'

In [8]:
batches = [stocks[:86]['Ticker'], stocks[86: 192]['Ticker'], stocks[192:277]['Ticker'], stocks[277: 359]['Ticker'], stocks[359: 444]['Ticker'], stocks[444:]['Ticker']]

In [44]:
cols = ['Ticker', 'Price', 'One-Year Price Return', '#Shares to buy']
dictionary = {col: list() for col in cols}

In [45]:
def batch_calls(tickers):
    tickers = ','.join(list(tickers))
    batch_url = f"https://sandbox.iexapis.com/stable/stock/market/batch?symbols={tickers}&types=stats,price&token={IEX_CLOUD_API_TOKEN}"
    data = requests.get(batch_url)
    if data.status_code != 200:
        return None
    return data.json()

In [46]:
for batch in batches:
    data = batch_calls(batch)
    if data:
        
        for ticker in batch:
            if ticker in data:
                dictionary['Ticker'].append(ticker)
                dictionary['Price'].append(data[ticker]['price'])
                dictionary['One-Year Price Return'].append(data[ticker]['stats']['year1ChangePercent'])
                dictionary['#Shares to buy'].append('N/A')

In [47]:
df = pd.DataFrame(dictionary)

In [48]:
df

    Ticker   Price  One-Year Price Return #Shares to buy
0        A  117.40              -0.226322            N/A
1      AAL   13.60              -0.432962            N/A
2      AAP  176.89              -0.115770            N/A
3     AAPL  139.90               0.033275            N/A
4     ABBV  148.44               0.316735            N/A
..     ...     ...                    ...            ...
490    YUM  115.97              -0.028298            N/A
491    ZBH  109.34              -0.372407            N/A
492   ZBRA  309.29              -0.417632            N/A
493   ZION   53.21               0.006668            N/A
494    ZTS  167.02              -0.132242            N/A

[495 rows x 4 columns]